@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  /*background-color: #191d1d;*/
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.card-hover:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
  cursor: pointer;
}
