@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  /*background-color: #191d1d;*/
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.card-hover:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.text-hover:hover {
  transform: translateY(1px) translateX(2px);
  text-shadow: -1px 14px 11px rgb(99, 99, 99);
  transition: all 0.3s;
}

.text-outline {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}

.img {
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 30px;
}

.input-style {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  height: 3rem;
  width: 80%;
  border-bottom: 2px solid #dfdede;
  background: none;
  color: rgb(95, 95, 95);
}
